
html, body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

#Page-1{
    background: url("https://4kwallpapers.com/images/wallpapers/windows-10-dark-blue-5k-8k-3840x2160-733.jpg")
    center / cover no-repeat;
}
.windows-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(23, 35, 43);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
    padding: 0 10px;
    color: white;
}
.windows-footer > * {
    cursor: pointer;
}
.windows-logo{
    width: 20px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    padding: 13px;
    margin-left: -10px;
    margin-right: -10px;
}
.windows-logo:hover{
    content: url("https://upload.wikimedia.org/wikipedia/commons/0/08/Windows_logo_-_2012_%28dark_blue%29.png");
    opacity: 0.7;
    background-color: rgba(255, 252, 252, 0.10);
}
.search-bar {
    display: flex;
    align-items: center;
    width: 280px;
    background-color: white;
    height: 40px;
    cursor: text;
    border-style: solid;
    border-color: white;
}
.search-bar:hover{
    border-style: solid;
    border-color: gray;
}
.search-bar:active{
    border-style: solid;
    border-color: royalblue;
}

.left-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-icon{
    width: 20px;
    aspect-ratio: 1 / 1;
    padding: 10px;
    transform: scaleX(-1);
}
.task-view{
    width: 20px;
    aspect-ratio: 1 / 1;
    margin-left: 5px;
    filter: invert(1);
}
.task-view:hover{
    content: url("https://upload.wikimedia.org/wikipedia/commons/0/0a/Windows_10_Task_View_Icon.png");
    background-color: rgba(255, 252, 252, 0.60);
}
.search-text {
    margin: 0;
    color: rgba(0, 0, 0, 0.76);
    font-size: 18px;
    border: 0;
    outline:0;
}
.search-text:focus {
    outline:none!important;
}
.right-group {
    display: flex;
    align-items: center;
    gap: 10px;
}
.separator {
    border-style: solid;
    border-color: rgba(255, 252, 252, 0.62);
    margin-right: -5px;
    height: 45px;
    width: 20px;
    border-width: thin;
}
.separator:hover{
    opacity: 0.5;
}
.notifications {
    width: 20px;
    aspect-ratio: 1 / 1;
    padding: 10px;
    margin: 0;
}
.wifi-logo{
    transform: scaleX(-1);
    filter: invert(1);
    height: 12px;
    aspect-ratio: 1/1;
}
.battery-logo, .sound-logo{
    width: 18px;
    aspect-ratio: 1 / 1;
    filter: invert(1);
}
.weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    vertical-align: middle;
    height: 45px;
}
.desktop-icon1:hover,.desktop-icon:hover,div.icon:hover, div.time:hover, .weather:hover, .notifications:hover{
    background-color: rgba(255, 252, 252, 0.10);
}
.time, .icon{
    padding: 10px;
}
.desktop-icon1,.desktop-icon{
    height: 40px;
    aspect-ratio: 1/1;
    display: block;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
.bar-icon{
    height: 30px;
    aspect-ratio: 1/1;
    display: none;
}
.path span {
    color: black;
}

#customMenu{
    display: none;
    background-color: #cccccc;
    position: absolute;
    font-size: 15px;
    box-shadow: 0 0 30px #4b4848;
    z-index: 2000;
    overflow: hidden;
}
#customMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#customMenu ul li{
    padding: 10px 50px;
    cursor: pointer;
    transition: background 0.3s;
}
#customMenu ul li:hover{
    background-color: #7c7979;
}



#recycleBin {
    min-height: 200px;
    width: 1000px;
    display: inline-block;
}

#recycleBin img {
    width: 64px;
    height: 64px;
    display: inline-block;
}
