
html, body {
    height: 100vh;
    margin: 0;
    font-family: Arial,sans-serif;
    overflow: hidden;
}

body {
    background: url("https://4kwallpapers.com/images/wallpapers/windows-10-dark-blue-5k-8k-3840x2160-733.jpg")
    center / cover no-repeat;
}
.windows-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
    padding: 0 10px;
    color: white;
}
.windows-footer > * {
    cursor: pointer;
}
.windows-logo{
    width: 20px;
    aspect-ratio: 1 / 1;
    margin-left: 5px;
    cursor: pointer;
}
.windows-logo:hover{
    content: url("https://upload.wikimedia.org/wikipedia/commons/0/08/Windows_logo_-_2012_%28dark_blue%29.png");
    opacity: 0.7;
    background-color: rgba(255, 252, 252, 0.10);
}
.search-bar {
    display: flex;
    align-items: center;
    width: 280px;
    background-color: white;
    height: 40px;
    cursor: text;
    border-style: solid;
    border-color: white;
}
.search-bar:hover{
    border-style: solid;
    border-color: gray;
}
.search-bar:active{
    border-style: solid;
    border-color: royalblue;
}

.left-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-icon{
    width: 20px;
    aspect-ratio: 1 / 1;
    padding: 10px;
    transform: scaleX(-1);
}
.task-view{
    width: 20px;
    aspect-ratio: 1 / 1;
    margin-left: 5px;
    filter: invert(1);
}
.task-view:hover{
    content: url("https://upload.wikimedia.org/wikipedia/commons/0/0a/Windows_10_Task_View_Icon.png");
    background-color: rgba(255, 252, 252, 0.60);
}
.search-text {
    margin: 0;
    color: rgba(0, 0, 0, 0.76);
    font-size: 18px;
}
.right-group {
    display: flex;
    align-items: center;
    gap: 10px;
}
.separator {
    border-style: solid;
    border-color: rgba(255, 252, 252, 0.62);
    margin-right: -5px;
    height: 45px;
    width: 20px;
    border-width: thin;
}
.separator:hover{
    opacity: 0.5;
}
.notifications {
    width: 20px;
    aspect-ratio: 1 / 1;
    padding: 10px;
    margin: 0;
}
.wifi-logo{
    transform: scaleX(-1);
    filter: invert(1);
    height: 12px;
    aspect-ratio: 1/1;
}
.battery-logo, .sound-logo{
    width: 18px;
    aspect-ratio: 1 / 1;
    filter: invert(1);
}
.weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    vertical-align: middle;
    height: 45px;
}
.desktop-icon1:hover,.desktop-icon2:hover,.desktop-icon3:hover,div.icon:hover, div.time:hover, .weather:hover, .notifications:hover{
    background-color: rgba(255, 252, 252, 0.10);
}
.time, .icon{
    padding: 10px;
}
.desktop-icon1,.desktop-icon2,.desktop-icon3{
    height: 40px;
    aspect-ratio: 1/1;
    display: block;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

#recycle-toggle:checked ~ #recycle-open{
    display: inline-block;
    }

#recycle-toggle:checked ~ footer .bar-icon{
    display: inline-block;
}


#recycle-open {
    width: 500px;
    height: 400px;
    background-color: white;
    margin-left: 300px;
    display: none;
}
#recycle-open span, #recycle-open label {
    color: white;
    display: inline-block;
    width: 16px;
    aspect-ratio: 1/1;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    margin-left: auto;
    vertical-align: top;
}

.recycle-bin-small-icon{
    height: 15px;
    aspect-ratio: 1/1;
    padding: 10px 0 5px 5px;
}
.bar-icon{
    height: 30px;
    aspect-ratio: 1/1;
    display: none;
}
.path span {
    color: black;
}
